.questList {
    /* mask effect at bottom */
    -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.6));
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.6));
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

@media only screen and (max-width: 640px) {
    /* Scrollbar */
    /* width */
    ::-webkit-scrollbar {
        display: none;
    }
}